@import "../../theme/variables.scss";

.a-title-content{
  color: #5f5f5f;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 30px 0px;
  padding: 0 25px;
}
ion-scroll {
  white-space: nowrap;
  height: 250px;
}
ion-col {
  margin-left: 15px;
  height: 250px;
  width: 200px;
  color: $white;
  border-radius: 20px;
}
.m-credit-shadown {
  &.-mastercard {
    background-color: $background-card-green;
  }
  &.-visa {
    background-color: $background-card-brown;
  }
  height: 250px;
  width: 185px;
  position: absolute;
}
.m-credit-card {
  &.-mastercard {
    background-color: $green;
  }
  &.-visa {
    background-color: $brown;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px 20px 20px 200px;
  & a {
    color: $white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    & .a-credit-title {
      display: flex;
      justify-content: space-between;
      &.-card-number {
        line-height: 30px;
        font-size: 1rem;
        height: 30px;
      }
      &.-imagotipo {
        height: 30px;
        width: 30px;
      }
    }
    & .a-credit-detail {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      & .-coin {
        margin: 10px 0;
        text-align: center;
        & small {
          margin-bottom: 1px;
        }
      }
    }
    & .a-credit-footer {
      & .a-credit-footer {
        &.-partner {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
.m-transaction {
  margin-top: 20px;
  margin-bottom: 50px;
  & ion-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  & .a-transaction__row{
    display: grid;
    grid-template-columns: 15% 50% 35%;
    width: 100%;
    & .a-transaction__type{
      width: max-content;
      & ion-label{
        font-family: "TrebuchetMS", sans-serif;
        color: $gray;
      }
      & .-date {
        color: $gray-ligth;
        font-size: 0.8rem;
      }
    }
  }
  & .a-transaction {

    &.-up,
    &.-down {
      padding: 10px;
      margin-right: 10px;
      border-radius: 10px;
    }
    &.-up {
      color: $background-card-green;
      background-color: $green-light;
    }
    &.-amount.-down {
      color: $red;
      font-weight: bold;
    }
    &.-amount.-up {
      color: $background-card-green;
      font-weight: bold;
    }
    &.-down {
      color: $red;
      background-color: $red-light;
    }
    &.-amount {
      background-color: #fff;
      text-align: right;
    }
  }
}
